html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  background: #ffc600;
}

.photobooth {
  background: white;
  max-width: 150rem;
  margin: 2rem auto;
  border-radius: 2px;
}

/*clearfix*/
.photobooth:after {
  content: '';
  display: block;
  clear: both;
}

.photo {
  width: 100%;
  float: left;
}

.player {
  position: absolute;
  top: 20px;
  right: 20px;
  width:200px;
}

/*
  Strip!
*/

.strip {
  padding: 2rem;
}

.strip img {
  width: 100px;
  overflow-x: scroll;
  padding: 0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background: white;
}

.strip a:nth-child(5n+1) img { transform: rotate(10deg); }
.strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
.strip a:nth-child(5n+3) img { transform: rotate(8deg); }
.strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
.strip a:nth-child(5n+5) img { transform: rotate(12deg); }


footer {
  background-color: black;
  bottom: 0;
  color:ghostwhite;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin: .5rem;
  position: inherit;
  padding: .5rem;
  text-justify:auto;
  text-align: center;
}

.footWords {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
}

.footWords > p {
  padding: 0 1rem 0 1rem;
}

a {
  color: deeppink;
  text-decoration: none;
}

a:hover {
  background-color: deeppink;
  border-radius: 3rem;
}

p > a,
p > a:visited,
sub > a {
  color: inherit;
}
