body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: center url("https://images.pexels.com/photos/9543377/pexels-photo-9543377.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  min-height: 100vh;
}

.bands {
  list-style: inside square;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.666);
  width: 50vw;
  margin: auto;
  padding: 0;
}

.bands li {
  border-bottom: 1px solid fuchsia;
  padding: .5rem;
}

.bands ::marker {
  content: "👻 ";
}

.bands li:last-child {
  border-bottom: 0;
}

button {
  background-color: ghostwhite;
  border-radius: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
  width: 40vw;
}

footer {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  color:ghostwhite;
  font-weight: bold;
  margin: .5rem;
  position: inherit;
  padding: .5rem;
  text-justify:auto;
  text-align: center;
}

.footWords {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.footWords > p {
  padding: 0 1rem 0 1rem;
}

a {
  color: deeppink;
  text-decoration: none;
}

a:hover {
  background-color: indigo;
  border-radius: 3rem;
}

p > a,
p > a:visited,
sub > a {
  color: inherit;
}
