html {
  color: black;
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
}

.hero {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

h1 {
  text-shadow: 10px 10px 20px orange;
  font-size: 100px;
}

footer {
  background-color: rgba(131, 85, 0, 0.906);
  bottom: 0;
  box-shadow: 0 0 0 10px rgba(255, 68, 0, 0.461);
  color:ghostwhite;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin: .5rem;
  position: inherit;
  padding: .5rem;
  text-justify:auto;
  text-align: center;
}

.footWords {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.footWords > p {
  padding: 0 1rem 0 1rem;
}

a {
  color: deeppink;
  text-decoration: none;
}

a:hover {
  background-color: black;
  border-radius: 3rem;
}

p > a,
p > a:visited,
sub > a {
  color: inherit;
}
