html {
  box-sizing: border-box;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: black;
  color: ghostwhite;
  margin: 0; /* Important! */
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 3rem 0;
  padding: 0;
}

.menu a {
  margin: 0 20px;
  padding: 5px;
}

a {
  background: rgba(150, 83, 198, 0.598);
  border-radius: 1rem;
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: indigo;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.wrapper {
  background-color: rgba(77, 77, 77, 0.333);
  border: 1rem solid rgba(128, 128, 128, 0.666);
  font-size: 110%;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 60vw;
  padding: 1rem;
  position: relative;
}

.highlight {
  display: block;
  background: indigo;
  border-bottom: 2px solid lavender;
  border-radius: 20px;
  box-shadow: 0 0 10px lavender;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s;
  z-index: -1;
}

.end-stanza {
  text-align: right;
}

footer {
  background-color: rgb(27, 0, 46);
  bottom: 0;
  color:ghostwhite;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin: .5rem;
  position: inherit;
  padding: .5rem;
  text-justify:auto;
  text-align: center;
}

.footWords {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footWords > p {
  padding: 0 1rem 0 1rem;
}